<div class="row">
    <div class="col">
        <h2>{{ pageTitle }}</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <router-outlet></router-outlet>
        <div class="mt-4">
            <button type="button" class="btn btn-default" (click)="onPrev()">Prev</button>
            <button type="button" class="btn btn-default" (click)="onNext()">Next</button>
        </div>
        <div class="mt-4">
            <h3>Via links instead</h3>
            <!-- Relative to route (automatic, no need to use this.activatedRoute, compare with "code behind") -->
            <a routerLink="step2">Next</a>
        </div>
    </div>
</div>
