<div class="row">
    <div class="col">
        <h2>{{ pageTitle }}</h2>
        <p>
            Here we do other training ...
        </p>
        <ul>
            <li>
                <a [routerLink]="['tooltip']">Tooltip</a>
            </li>
            <li>
                <a [routerLink]="['buttons-as-radios']">Buttons as Radios</a>
            </li>
            <li>
                <a [routerLink]="['slider-native']">Slider Native</a>
            </li>
            <li>
                <a [routerLink]="['slider-bootstrap']">Slider Bootstrap</a>
            </li>
            <li>
                <a [routerLink]="['datepicker-bootstrap']">Datepicker Bootstrap</a>
            </li>
            <li>
                <a [routerLink]="['better-rem-mixin']">Better Rem Mixin</a>
            </li>
            <li>
                <a [routerLink]="['animation']">Animation</a>
            </li>
            <li>
                <a [routerLink]="['better-imports']">Better Imports</a>
            </li>
            <li>
                <a [routerLink]="['resolve-with-loader']">Resolve with Loader</a>
            </li>
            <li>
                <a [routerLink]="['links']">Links</a>
            </li>
            <li>
                <a [routerLink]="['rating-bootstrap']">Rating Bootstrap</a>
            </li>
            <li>
                <a [routerLink]="['ng-for-and-collections']">ngFor and collections</a>
            </li>
        </ul>
    </div>
</div>
