<div class="row">
    <div class="col">
        <h2>{{ pageTitle }}</h2>
        <p>
            Here we do other training ...
        </p>
        <ul>
            <li>
                <a [routerLink]="['/other/tooltip']">Tooltip</a>
            </li>
            <li>
                <a [routerLink]="['/other/buttons-as-radios']">Buttons as Radios</a>
            </li>
            <li>
                <a [routerLink]="['/other/slider-native']">Slider Native</a>
            </li>
            <li>
                <a [routerLink]="['/other/slider-bootstrap']">Slider Bootstrap</a>
            </li>
            <li>
                <a [routerLink]="['/other/datepicker-bootstrap']">Datepicker Bootstrap</a>
            </li>
        </ul>
    </div>
</div>
