<div class="row">
    <div class="col">
        <h2>{{ pageTitle }}</h2>
        <div>
            <h3>Nested ngFor</h3>
            <ul>
                <li *ngFor="let p of people">
                    <span class="d-block">{{ p.name }}, {{ p.age }}</span>
                    <ul>
                        <li *ngFor="let f of p.friends">
                            {{ f.name }}, {{ f.age }}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <hr>
        <div>
            <h3>Async with no async pipe</h3>
            <ul>
                <li *ngFor="let t of todos">{{ t.title }}</li>
            </ul>
        </div>
        <hr>
        <div>
            <h3>Async with no async pipe, get with button click</h3>
            <div>
                <button (click)="getTodos()">Get more todos</button>
            </div>
            <ul>
                <li *ngFor="let t of getMoreTodos">{{ t.id }}</li>
            </ul>
        </div>
        <hr>
        <div>
            <h3>Async when property is not defined</h3>
            <ul> <!-- *ngIf="todosPropertyNotDefined" or let t of todosPropertyNotDefined?.todos (question mark) -->
                <li *ngFor="let t of todosPropertyNotDefined?.todos">{{ t.title }}</li>
            </ul>
        </div>
        <hr>
        <div>
            <h3>Async pipe</h3>
            <ul>
                <li *ngFor="let t of todosObs$ | async | slice: 0:10">{{ t.id }}</li>
            </ul>
        </div>
    </div>
</div>



<!--

    Observable also

-->
